  .PrintCard {
    text-align: left;
    background-color: white;
    margin-left: 20%;
    margin-right: 5%;
  }

 .PrintCard2{
   background-color: whitesmoke;
 }
  
  .PrintCard-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .PrintCard-title {
    font-size: 1.5em;
  }
  
  .PrintCard-intro {
    font-size: large;
  }

  .col-md-4{
    margin-left:35%;
  }
  .nav-bar{
    width: 15%;
    background-color: #303030;
    color: white;
    height: 100%;
    top: 50px;
    position: fixed;
}